<input id="hidden" type="hidden" name="_method" value="patch">

<form action="/posts/<%= @post.id %>" method="post">
    <label for"name_edit">Edit Post <%=@post.id%> Name: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>

    <label for"name_edit">Edit Post <%=@post.id%> Content: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>
    <input type = "submit">
</form>
