<form method="POSTS" action="/posts">
  <label for"title">Post Title: </label>
  <input type="text" name="title">

  <label for"title">Post Content: </label>
  <input type="text" name="content">
</form>
