<h2>Create a Blog Post</h2>

<form method="POST" action="/posts">
  <label for"post_name">Name: </label>
  <input id ="post_name" type="text" name="name">

  <label for"post_content">Content: </label>
  <input id ="post_content" type="text" name="post["content"]">

  <input type="submit" value="submit">
</form>
